<!------------Navigation Bar---------------->
<% include headerTwo.ejs %>
<!------------Content----------------->
<div class="dashboard-layout">
    <h1><%= playerName[0].player_name%></h1>
    <p>
        <h2>Division: <%= playerStats[0].fields %></h2>
    </p>
    <p>
        <h2>Team: <a href = '/team/league/<%= playerStats[0].fields %>'><%= playerStats[0].fields %></h2></a>
        </p>

    <h2>Stats From Each Year</h2>
    <%  for(var i = 0; i < playerStats.length; i++){ %>
        <ul class="list-group">
            <li class="list-group-item  list-group-item-primary"><b>Year: </b><%= playerStats[i].fields %></li>
            <li class="list-group-item">Division Rank: <%= playerStats[i].fields %></li>
        </ul>
        <br/>
        <br/>
    <% } %>
    <script>
    </script>
</div>
